<p>Your Reply</p>
<form #messageReply="ngForm" (ngSubmit)="formSubmit(messageReply)">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Reply</mat-label>
        <input matInput placeholder="Your reply" ngModel required name="replyMessage" type="text">
    </mat-form-field>
    <div class="d-flex flex-row align-items-center justify-content-between mt-3">
        <button type="submit" mat-stroked-button color="primary">Send Reply</button>
    </div>
   
</form>
<div class="d-flex flex-row align-items-center justify-content-between mt-3">
    <button (click)="onNoClick()" mat-stroked-button color="primary">Close</button>
</div>