<div class="row mt-4">
  <div class="col-md-3 mb-4" *ngFor="let product of properties">
    <div class="card">
      <img
        class="card-img-top"
        [src]="product?.bannerUrl"
        alt="Brand Logo"
      />
      <div class="card-body">
        <h4 class="card-title product_title">{{ product?.name }}</h4>
        <!-- <p class="card-text product_description">
          {{ product?.productDetails }}
        </p> -->
        <span class="product_price">
          <mat-icon class="price_icon_tag" matSuffix>sell</mat-icon>
          {{ product?.price }}
        </span>
        <span class="available_product_label"
          >Type <b>{{ product?.type }}</b></span
        >
        <div class="row">
          <div class="col d-flex justify-content-center">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>archive</mat-icon>
            </button>
          </div>
          <div class="col d-flex justify-content-center">
            <button (click)="onRUpdate(product)" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>update</mat-icon>
            </button>
          </div>
          <div class="col d-flex justify-content-center">
            <button
              (click)="onDelete(product.id)"
              mat-icon-button
              color="primary"
              aria-label="Add to wishlist"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-paginator
  [length]="allRecordsCount"
  [pageSize]="pageSize"
  aria-label="Select page "
  (page)="pageEvent = onPageChange($event)"
>
</mat-paginator>
